@model IEnumerable<MessageItem>

@if (!Model.Any())
{
    <p>Inga meddelanden hittades.</p>
}
else
{
    <ul class="inbox__message-list">
        @foreach (var msg in Model)
        {
            <li class="inbox__message-item">
                <a asp-controller="Inbox"
                   asp-action="ViewMessage"
                   asp-route-id="@msg.Id"
                   asp-route-folder="@ViewBag.CurrentFolder">
                    <div class="inbox__message-sender">@msg.Sender</div>
                    <div class="inbox__message-subject">@msg.Subject</div>
                    <div class="inbox__message-preview">@msg.Preview</div>
                    <div class="inbox__message-date">@msg.SentAt.ToString("g")</div>
                </a>
            </li>
        }
    </ul>
}