@model Frontend.Models.Event.EventViewModel
@{
    var isGridView = Model.IsGridView;
    var pageSizeOptions = new[] { 8, 16 };
}

<div class="container">

    <partial name="Partials/_EventsHeader" model="Model" />

    <div class="event-view-mode">
        <div>
            <a asp-action="Index" asp-route-view="grid" asp-route-page="1"
               asp-route-pageSize="@Model.PageSize"
               asp-route-searchQuery="@Model.SearchQuery"
               asp-route-selectedCategory="@Model.SelectedCategory"
               asp-route-selectedTimeRange="@Model.SelectedTimeRange"
               class="btn-grid @(isGridView ? "active" : "")">Grid</a>

            <a asp-action="Index" asp-route-view="list" asp-route-page="1"
               asp-route-pageSize="@Model.PageSize"
               asp-route-searchQuery="@Model.SearchQuery"
               asp-route-selectedCategory="@Model.SelectedCategory"
               asp-route-selectedTimeRange="@Model.SelectedTimeRange"
               class="btn-list @(!isGridView ? "active" : "")">List</a>
        </div>
    </div>

    @if (isGridView)
    {
        <div class="grid-group">
            @foreach (var item in Model.Events)
            {
                <div class="grid-group-colum">
                    <partial name="Partials/_EventCardGrid" model="item" />
                </div>
            }
        </div>
    }
    else
    {
        <div class="list-group">
            @foreach (var item in Model.Events)
            {
                <div class="list-group-row">
                    <partial name="Partials/_EventCardList" model="item" />
                </div>
            }
        </div>
    }

    <partial name="Partials/_EventsFooter" model="Model" />
</div>
