@model Frontend.Models.Event.EventDto

<div class="event-card grid">
    <img src="@Model.ImgUrl" alt="@Model.Title" class="img-fluid" />
    <div class="event-meta">
        <span class="category">@Model.StatusId</span>
        <h5>@Model.Title</h5>
        <p>@Model.VenueId</p>
        <p>@Model.EventDate.ToString("MMMM d, yyyy - h:mm tt")</p>
        <div class="price">@Model.Price.ToString("C0")</div>
    </div>
</div>
